* {
	box-sizing: border-box;
	margin:0;
	font-family: sans-serif;
 	color:white;
	}

a {
	text-decoration: none;
}	

body {
	background-color:black;
}

h1 {
	font-size: 1.5em;
	margin-top: 1.25em;
	letter-spacing: 0.01em;	
}


/* ----------head------------- */

header { 
	width:90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

#logo {
	font-weight: bold;
	letter-spacing: 0.05em;	
}

/* ----------nav------------- */
nav {
	display: flex;
}

#work {
	width: 24em;
}
#CV {
	font-weight: normal;
	font-size: 1.25em;
}

/* ----------section------------- */
.page-name {
	margin-top: 3.5em;
	text-align: center;
}

.container {
	margin: 0 auto;
	margin:2em 1em 5em 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	width: 40%;
	padding: 1.5em 0.25em;
}

.item img,  .item video{
	width: 100%;
}



.title {
	text-align: center;
	padding-top: 0.5em;
	font-size: 0.9em;
}


.para {
	text-align: center;
	padding-top: 2em;
	font-size: 1em;
	line-height: 1.5em;
}




/* ----------footer------------- */



@media screen and (max-width: 600px){
	.item {
	width: 85%;
	padding: 0.8em 0.25em;
}

h1 {
	font-size: 1.5em;
	margin-top: 1.25em;
	letter-spacing: 0.01em;	
}

	#work {
	display:none;
}

#CV {
	font-weight: normal;
	font-size: 1.5em;
}

}

