* {
	box-sizing: border-box;
	margin:0;
	font-family: sans-serif;
 	color:white;
	}

a {
	text-decoration: none;
}	

body {
	background-color:black;
}


h1 {
	font-size: 1.5em;
	margin-top: 1.5em;
	letter-spacing: 0.05em;	
	font-weight: normal;

}

p {
	font-size: 1.5em;
	padding-bottom: 2em;

}


.xtra-pad {
	margin-top: 8em;
}

/* ----------head foot------------- */

header{ 
	width:90%;
	margin: 0 auto;
	text-align: right;
}

footer {
	margin: 0 auto;
	width:90%;
	display: flex;
	justify-content: space-between;
}



/* ----------nav------------- */
nav {
	display: flex;
	justify-content: space-between;
	width: 100%;		
}


a #work {
	width: 20em;
	margin: -3.5em 6em 0 0;
	
}

/* ----------section------------- */
.item-info {
	margin: 0 auto;
	margin: 6em 0 2em 0;
	text-align: center;
}

.page-name {
	margin: 3.5em 0 1em 0;
	letter-spacing: 0em;	

}
.page-descipt {
	text-align: center;
	width: 5em;
	margin: 0 auto;
}

.container {
	margin: 0 auto;
	margin:2em 1em 5em 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	width: 47%;
	padding: 0.125em 0.25em;
}

.item img,  .item video{
	width: 100%;
}



.title {
	text-align: center;
	padding-top: 0.5em;
}


.para {
	text-align: center;
	padding-top: 2em;
	font-size: 1em;
	line-height: 1.5em;
}







/* ----------white------------- */
body.white, 
body.white h1, 
body.white a, 
body.white .title, 
body.white p, 
body.white b { 
	background-color: #fff; 
	color:black; }
/* ----------red------------- */
body.red, 
body.red h1, 
body.red a, 
body.red .title, 
body.red p, 
body.red b { 
	background-color: #f00; 
	}


@media screen and (max-width: 700px){
.item {
	width: 91%;
	padding: 0.125em 0.25em;
}

h1 {
	font-size: 1.5em;
	margin-top: 1.25em;
	letter-spacing: 0.05em;	
}

a #work {
display: none;
	
}


footer {
	margin: 0 auto;
	width:90%;
	display: block;
	text-align: center;
	
}



}

