* {
	box-sizing: border-box;
	margin:0;
	font-family: sans-serif;
 	color:white;
	}

a {
	text-decoration: none;
}	

body {
	background-color:black;
}


h1 {
	font-size: 1.9em;
	margin-top: 1.5em;
	letter-spacing: 0.05em;	
	font-weight: normal;

}

p {
	font-size: 1.79em;
	padding-bottom: 2em;
}


.xtra-pad {
	margin-top: 8em;
}

/* ----------head foot------------- */

header{ 
	width:90%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}

footer {
	margin: 0 auto;
	width:90%;
	display: flex;
	justify-content: space-between;
}



/* ----------nav------------- */
.logo {
	width: 50%;		
}

nav {
	margin: 1em 0 0 0;
	display: flex;
}

a #work {
	width: 20em;	
}

a #mail {
	width: 3em;
	padding-top: 1.8em;
}


/* ----------section-index------------- */
.title {
	text-align: center;
	padding-top: 0.3em;
}

/* ----------section------------- */

.page-name {
	margin: 3.5em 0 1.5em 0;
	letter-spacing: 0em;	
}

.item-info {
	margin: 0 auto;
	margin: 6em 0 2em 0;
	text-align: center;
}


.page-descipt {
	text-align: center;
	width: 5em;
	margin: 0 auto;
}

.credit {
	font-size: 0.8em;
	margin: 1em 0 0 0;
}

.container {
	margin: 0 auto;
	margin:2em 1em 5em 1em;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.item {
	width: 47%;
	padding: 0.125em 0.25em;
}

.vid {
	width: 850px;
	padding: 0.125em 0.25em;
}

.player .vp-player-layout {
	background-color: black;
}

.item img,  .item video, .item embed{
	width: 100%;
}












/* ----------red------------- */
body.red
{ 
	background-color: #f00; 
	}

/* ----------green------------- */
body.green 
{ 
	background-color: #112511; 
	}

/* ----------blue------------- */
body.blue 
{ 
	background-color: #000452; 
	}

/* ----------warm gray------------- */
body.warm_gray
{ 
	background-color: #5d5248; 
	}








@media screen and (max-width: 700px){

header{ 
	width:91%;
}

footer {
	margin: 0 auto;
	width:91%;
	display: block;
	text-align: center;
}

.item {
	width: 98%;
	padding: 0.125em 0.25em;
}

h1 {
	font-size: 1.5em;
	margin-top: 1.25em;
	letter-spacing: 0.05em;	
}
p {
	font-size: 1.4em;
}

a #work {
	width: 10em;	
}

a #mail {
	width: 2.3em;
	padding-top: 1em;
}

.title {
	padding-top: 0.1em;
}



}

@media screen and (max-width: 450px){
	.logo {
	font-size: 0.8em;
	}

	a #work {
	width: 8.5em;
	}

	a #mail {
	width: 1.7em;
	padding-top: 0.6em;
}
}

