* {
	box-sizing: border-box;
	margin:0;
	padding:0;	
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
}

body {
	background-color: black;
}



/*--head --*/

.header-container {
	display: flex;
	margin:0 auto;
	padding-bottom: 10%;
}

.item {
	width:20%;
}

.c {
	background-color:#4E6B9E;
}

.o-1 {
  	background-color: #FAA400;
	overflow:hidden;
	background-image: url(../img/o.jpg);
	-webkit-animation: switcho 3s; 
    animation: switcho 3s; 
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: cover;
}

@-webkit-keyframes switcho {
    0% {background-image: url(../img/blank.png);}
    50% {background-image: url(../img/blank.png);}
	100% {background-image: url(../img/o.jpg);}
}

@keyframes switcho {
    0% {background-image: url(../img/blank.png);}
    50% {background-image: url(../img/blank.png);}
	100% {background-image: url(../img/o.jpg);}
}


.l {
	background-color: #80B37D;
}


.o-2 {
	padding-top:0%;
	background-color: black;
}


.r {
	background-color: #F25A29;
 	overflow:hidden;
	background-image: url(../img/r.jpg);
	-webkit-animation: switchr 3s; 
    animation: switchr 3s; 
	background-repeat: no-repeat;
  	background-position: right top;
  	background-size: cover;
}

@-webkit-keyframes switchr {
    0% {background-image: url(../img/blank.png);}
    50% {background-image: url(../img/blank.png);}
	100% {background-image: url(../img/r.jpg);}
}

@keyframes switchr {
    0% {background-image: url(../img/blank.png);}
    50% {background-image: url(../img/blank.png);}
	100% {background-image: url(../img/r.jpg);}
}


.logo {
	width: 100%;
	padding:20% 6%;
}

.logo-wide {
	width: 100%;
	padding:0 5%;
}




/*--info--*/

.info-container {
	color: #4E6B9F;
	text-align: center;
	padding-bottom: 10em;
}

h1{
	font-size: 2em;
	color:#F25A29;
	padding-top: 50px;
}

h2{
	font-size: 2em;
}

h3 {
	font-size: 1.7em;	
	color:white;
}


h4 {
	font-size: 1em;	
	color:#FAA400;
	padding: 6em 0 1em;
}

h4 a {
	color:white;
	}

h5 {
	font-size: 1.7em;	
	color:white;
	padding-top: 30px;
}

p {
	font-size:1em ;
	line-height:1.4em ;
}

p a{
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	color: #4E6B9F;
}

.title {
	font-size: 0.7em;
	text-transform: uppercase;
	letter-spacing: 0.08em;
	padding: 5em 0 1em;
	color:#F25A29;

}

/*--sponsors--*/

.sponsor-container {
	display: flex;
	flex-wrap: nowrap;
	margin:0 auto;
	padding:0 5%;
	background-color: white;
	min-height: 2em;
	align-items:center;
}

.sponsor-item {
	margin:2% 2% 1%;
}

.sponsor-item img{
	width: 100%;
}




@media only screen and (max-width: 970px){
	h2 { font-size: 1.7em;}
	.sponsor-item {margin:2% 1% 1%;}
	
}

@media only screen and (max-width: 767px){
	h2 { font-size: 1.3em;}
	.sponsor-container {flex-wrap: wrap;}
	.sponsor-item {width:22%;}
	.smaller {width:10%;}
}

@media only screen and (max-width: 600px){
	h1 { font-size: 1.7em;}
	h2 { font-size: 1em;}
	.logo { width: 100%; padding:50% 6%;}
	.sponsor-item {width:33%;}
	.smaller {width:12%;}

}

@media only screen and (max-width: 500px){
	h2 { font-size: 0.9em;}
	p { font-size: 0.8em;}
	.logo { width: 100%; padding:50% 6%;}

}





