/*! cc css */

/* Document
   ========================================================================== */
* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  }

  html, body {
    height: 98%;
  }

a {
  text-decoration: none;
  cursor: pointer;
  }

  img {
    width: 100%;
  }

/* Header
   ========================================================================== */



nav {
  display: flex;
  height:14vw;
  align-items: center;
  width: 100%;
  position: fixed;
  top:0;
  left:0%;
  z-index: -1000;
  padding: 0 5%;
}

nav a {
  border: none;
}

.logo {
  text-align: center;
  width: 90%;
}

.logo a{
  border: none;
}

.nav-item {
  width: 10%;
  align-self: center;
}

#icon-hamburger, #icon-mail {
  height: 4.4vw;
  margin: 0 10% ;
}

.container {
  background-color: white;
  width:100%;
  margin-top: 13.5vw;
  margin-bottom: 12vw;
}

/* Footer
   ========================================================================== */

footer {
  display: flex;
  height: 11vw;
  padding: 1em 2em 1.7em;
  font-size: 1.4vw;
  background-color: white;
  position: fixed;
  bottom: 0;
  z-index: -1;
}

footer h4 {
  flex-grow: 1;
}

footer img {
  width: 11%;
}

.no-hold {
  position: static;
}

/* Flickity
   ========================================================================== */
.slider-container {
  text-align: center;
  position: relative;
}

.big-title {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 0vw;
  margin-top: 1.6vw;
  z-index: 888;
}

.lrg-slider {
  height: 62vw ; /* height of carousel */
  height: 55vw ; /* height of carousel */
}

.pg-slider {
  height: 50vw ; /* height of carousel */
}

.carousel-cell-lrg {
  width: 100%; /* full width */
  margin: 0%;
  counter-increment: carousel-cell;
}

.img-lrg {
  width: 100%;
  height: 55vw;
}

.img-websites {
  display: flex;
  flex-wrap: wrap;
  align-items:center;
  height: 55vw;
  padding:0 6vw;
}

.img-websites img{
  width: 50%;
  padding: 3vw;
}
 
.med-title {
  padding: 1.5vw 0 0.6vw;
  text-align: center;
}

.med-slider {
  height: 32vw ; /* height of carousel */
}

.carousel-cell-med {
  width: 50%;
  padding:1vw;
}

.carousel-cell-med-web {
  width: 42%;
  padding:1.5vw;
}

.img-med {
  width: 100%;
  height: 28vw;
}

.small-slider {
  height: 30.5vw ; /* height of carousel */
}

.carousel-cell-small {
  width: 38%;
  height: 28vw;
  padding:0.3vw;
}

.slider-container h2 a {
  border-bottom:1px solid ;
}

.small-slider-ticker {
  height: 4.5vw;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.small-slider-ticker p{
  font-size: 2vw;
  position: absolute;
  width: 200vw;
  margin-left:-50vw; 
  text-align: center;
}




/* ----------bursts------------- */

.burst-container {
  position: absolute;
  width: 12vw;
  top:1vw;
  right:1.6vw;
  z-index: 1000;
  opacity:0;
  animation-name: spin;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); opacity: 0; }
  10% { transform: rotate(0deg); opacity: 0; }
  20% { transform: rotate(360deg); opacity: 1;}
  71% { opacity: 0; }
  100% { transform: rotate(360deg); opacity: 0;}
}


/* Main
   ========================================================================== */

  p {
    font-size: 2em;  
  }

  h1{
    font-size: 9vw;
    letter-spacing: 0.03em;
  }

  h2 {
    font-size: 4vw;
    letter-spacing: 0.03em;
    text-align: center;
  }

  h3 {
    font-size: 3.5vw;
    letter-spacing: 0.01em;
  }

  h4 {
    font-size: 2.4vw;
    line-height: 3.5vw;
    letter-spacing: -0.01em;
  }

  a {
    color:black;
  }


.small {
  font-size:1.25em;
}

.pg-title {
padding-top: 2vw;
width:100%;
text-align: center;
}

.web-pg-title {
padding-top: 0vw;
padding-bottom: 5vw;
width:100%;
text-align: center;
}

.gif-pg-title {
padding-top: 1.2vw;
padding-bottom: 3vw;
width:100%;
text-align: center;
}


/* nav page
   ========================================================================== */
.nav-container {
  text-align: center;
  width:100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  background-color: blue;
  padding: 10vw 0 0 0;
  margin-bottom: 0;
}

ul li{
  font-size: 6vw;
  line-height: 12vw;
  list-style: none;
}




/* arrows for view more
   ========================================================================== */

.arrow-block{
    padding-top: 8vw;
  }

.arrow-block img{
  width: 7.5vw;
  }

.med-slider .arrow-block, .small-slider .arrow-block{
    padding-top: 0vw;
  }

.med-slider .arrow-block img, .small-slider .arrow-block img{
    max-width: 5.5vw;
  }




/* carousel buttons
   ========================================================================== */

/* position dots up a bit */
.flickity-page-dots {
  display: none;
}


.flickity-button:focus {
  background: transparent;
}

/* no circle */
.flickity-button {
  background: white;
  border: 0.3vw solid black;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 4.5vw;
  height: 4.5vw;
}
/* icon color */
.flickity-button-icon {
  fill: black;
}

.lrg-slider .flickity-button {
  background: transparent;
  border: none;
}

.flickity-prev-next-button {
    top: 50%;
  }







/* Item Pages
   ========================================================================== */
.item-page {
  background-color: black;
  color:white;
}

.item-container {
  padding:2vw 0;
  display: flex;
  flex-wrap: wrap;
}

.description-container {
  padding:2vw 6.5vw;
  background-color: black;
  color:white;
  margin-bottom: 12vw;
}

.description-container img{
  border: 1px solid black;
}

.margin-top {
  margin-top: 3vw;
}

 .item-page p {
    letter-spacing: 0em;
    line-height: 1.4em;
    padding-bottom: 2vw;
  }

.item-page h2 {
    letter-spacing: 0em;
    text-align: left;
    line-height: 1em;
    padding-bottom: 3vw;
    width: 80%;
  }


.thumb-container{
  width: 50%;
}

.wide {
  width: 100%;
}

.full-height {
  height: 100%;
}

.column-left {
  float: left;
  width:50%;
  height: 100%;
  overflow: scroll;
}

.column-right {
  float: right;
  width:50%;
  height: 100%;
  overflow: scroll;
}

.item-page .thumb-title{
  font-size: 3vw;
  padding: 1vw 0 3vw; 
  width: 100%;
  text-align: center;
}

.nav-bottom {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin:3vw -3vw 0 ;
}

.nav-bottom .left,  .nav-bottom .right{
  display: flex;
  flex-wrap: wrap;
  max-width: 40%;
}

.nav-bottom h3{
  font-size: 3vw;
}

.nav-bottom a{
  color:white;
  border:none; 
}

.nav-bottom-icon img, .nav-bottom img{
    width: 5vw;
  }



  /* Gif pg
   ========================================================================== */

.gif-container {
  width: 100%;
  margin: 0 auto;
  padding:2vw 6.5vw;
  display: flex;
  flex-wrap: wrap;
}

.gif-container img{
  width:33.3%;
  height: 33.3%;
  padding:0.33vw;
}

  /* PVD terror pg
   ========================================================================== */


/* Backgrounds
   ========================================================================== */

.red {
  background-color: red;
}

.grey {
  background-color: #666;
}

.blue {
  background-color: blue;
}

.black{
  background-color: black;
}

.white{
 background-color: white;
}

.white-txt{
 color: white;
}

.white-txt a{
 color: white;
}

.center {
  text-align: center;
  margin:0 auto;
}









@media only screen and (max-width: 765px) {



}

