/* Amend css
---------------------------------------------------------------------------------------------- */




/* UNIVERSAL STYLES ---*/
* {
	box-sizing: border-box;
	font-family: 'Work Sans', sans-serif;
	padding:0;
	margin:0;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
}

ul, li {
	list-style-type: none;
}

body {
	background-color: var(--beige);
}


/* TYPOGRAPHY --- */
@font-face {
  font-family: 'Editorial';
  src: url('fonts/EditorialNew-Regular.otf') format('otf'),
  		url('fonts/EditorialNew-Regular.woff') format('woff'),
       url('fonts/EditorialNew-Regular.woff2') format('woff2');
  	font-style:   normal;
  	font-stretch: normal;
}



/* VARIABLES --- */
:root {
  --beige: #E6E5D5;
  --blue: #527DF1;
  --orange: #F4794D;
  --font-light: 350;
  --font-bold: 500;
}




/* MAIN TYPE STYLE --- */
h1, h2, h3, h4, h5{
	font-family: 'Editorial';
	font-weight:  100;
	text-transform: uppercase;
	letter-spacing: 0.03em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
	text-decoration: underline;
}

p {
	font-size: 1.15em;
	font-weight:var(--font-light);
	line-height: 1.5em;
	padding-bottom: 1em;
}

h1 {
	font-size: 3.1em;
	line-height: 1.15em;
	padding: 0.1em 0 1em;
	-ms-hyphens: auto;
     -moz-hyphens: auto;
    -webkit-hyphens: auto;
     hyphens: auto;
}

aside h1{
	padding: 0.1em 0 0.3em;
}

h2 {
	font-size: 1.9em;
	padding:0em 0 0.3em 0;
}


h3 {
	font-size: 1.5em;
	padding: 0.7em 0 0.5em;
}

p a {
	border-bottom: 1px solid black;
}



/* SITE WIDTH --- */
.site-container, .slider-container, footer {
	margin: 0 auto;
	width: 100%;
	padding: 0 7vw;
	display: flex;
	max-width: 1600px;
}

main, aside {
	margin-top:8em;
}

main, .main-carousel {
	width: 70%;
}

main.full-width{
	width: 100%;
	border-right: 1px solid black;
}

main section, .carousel-cell {
	border-top: 1px solid black;
	border-left: 1px solid black;	
	padding:1.5em 3.5em 3em ;
}

aside{
	border-top: 1px solid black;
}


aside, .project-img{
	width: 30%;
	border-left: 1px solid black;
	border-right: 1px solid black;
	margin-bottom: -1px;
}

.project-img {
	background-image: url("baby-amendment.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

aside section {
	padding:1.5em 1.5em 0 1.25em;
	border-bottom: solid 1px black;
}

aside section.no-pad {
	padding:0em;
	margin-right: -1px;
	margin-left: -1px;
}

aside section.no-pad img {
	padding:0 1px ;

}

aside section p{
	font-size: 0.9em;
	line-height: 1.5em;
}


/* THUMB WIDTHS --- */
.bottom-nav{
	text-align: center;
	border-top: solid 1px black;
	padding: 2em 0;
}

.thumb-container {
	display: flex;
	justify-content: space-around;
	padding: 1em 0;
}

.thumb-button{
	padding:1em;
	margin-bottom: 2em;
	text-align: center;
	border:1px black solid;
	background-color: var(--beige);
  box-shadow: 2px 2px 0 var(--beige), 3px 3px 0 black, 5px 5px 0 var(--beige), 6px 6px 0 black;
}

.thumb-button:hover{
	background-color: var(--blue);
	cursor: pointer;
}







/* LOGO --- */
.branding{
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	background-color: var(--beige);
}

.logo-container, .icon-checkbox{
	height: 50px;
	border: solid black 1px;
}

.logo{
	font-family: 'Editorial';
	font-weight:  100;
	font-size: 2.25em;
	letter-spacing: 0.03em;
	padding: 0.08em 0.25em;
}

.icon-checkbox{
    width:50px;
    position:relative;
    margin-left: -1px;
}

.icon-checkbox:before,.icon-checkbox:after{
    content:'';
    position:absolute;
    width:50px;
    height:1px;
    background-color:black;
    border-radius:1px;
    top:24px;
}

.icon-checkbox:before{
    -webkit-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    transform:rotate(45deg);
}
.icon-checkbox:after{
    -webkit-transform:rotate(-45deg);
    -moz-transform:rotate(-45deg);
    transform:rotate(-45deg);
}

.icon-pad{
	margin: 1em 0 1.5em;
	transform: scale(0.7);
}


.tagline {
	font-size: 0.8em;
	text-transform: uppercase;
	letter-spacing: 0.02em;
	padding-top: 14px;
}

/* MAIN NAVIGATION ---*/
.mobile-icon{
	display: none;
}

nav {
  display: flex;
  height:50px;
  position: relative;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 7vw;
  justify-content: space-between;
  border-bottom: solid 1px black;
}

.main-nav {
  font-weight:var(--font-bold);
  height:50px;
  padding: 0 20px;
  background-color: var(--orange);
  border: solid 1px black;

}

.main-nav li {    
  margin:1px 10px;
  display: inline-block;
  height:100%;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  font-size: 0.8em;
  padding-top:1em;
}

.main-nav li a:hover{
}

/* Underline styles */
nav .main-nav a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  overflow: hidden;
}

/* Write on */
nav .main-nav a::after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: black;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
  opacity 1;
  transform: translate3d(-100%, 0, 0);
}

nav .main-nav a:hover::after,
nav .main-nav a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}


/* IMGS ---*/
img {
	width: 100%;
}



/* OVALS---*/
.bio-container{
	width:50%;
	float:left;
}

.sidebar-bio{
	float:left;
	width:100%;
	height: 17vw;
	border: solid 1px black;
	margin-bottom: 1em;
}

.sidebar-team{
	float:none;
	border:none;
	border-top: solid 1px black;
}

.sidebar-bio, .oval{
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.oval{
  width: 90%;
  height: 90%;
  border:1px solid black;
  background: var(--beige);
  border-radius: 50%;
}

.oval p{
	padding:0;
}


.bio-para{
	padding-left:1em;
}





/* Carousel Styles --------------------------------------------------------------------------- */
.main-carousel{
	margin-top:12em;
}

.carousel-cell {
	width: 100%;
	padding: 40px 60px;
}

/* button styles */
.flickity-button {
    position: absolute;
    background: transparent !important;
    border: none !important;
    color: var(--beige) !important;
}

.flickity-prev-next-button {
  width: 30px;
  height: 30px;
  border-radius: 0px;
}

.flickity-page-dots{
	display: none;
}

.flickity-prev-next-button{
	top: 50% !important;
}

.flickity-prev-next-button.previous {
    left: 5px !important;
}

.flickity-prev-next-button.next {
    right: 5px !important;
}

.main-carousel .quote{
	margin-top:0.5vw;
	font-family: 'Editorial';
	font-weight:  100;
	font-size: 2.3vw;	
}

.main-carousel .attribution{
	text-transform: uppercase;
	font-size: 0.9em;
}



/* EMBED VIDEO ---*/

.video-container { 
	position: relative; 
	padding-bottom: 56.25%; 
	padding-top: 30px; 
	height: 0; o
	verflow: hidden; 
}

.video-container iframe, .video-container object, .video-container embed { 
	position: absolute; 
	top: 0; left: 0; 
	width: 100%; height: 100%; 
}




/* ALIGMENTS AND EXTRAS ---*/
.center {
	text-align: center;
}

.flex-center {
	align-items: center;
}

.border-bottom{
	border-bottom: solid 1px black;
}

.border-top{
	border-top: solid 1px black;
}


/* COLORS ---*/
.black-bg{
	background-color: black;
	color: var(--beige);
}

.blue-bg{
	background-color: var(--blue);
}

.orange-bg{
	background-color: var(--orange);
}

/* PROJECT ---*/

.logo-large{
	margin: 2em 0 0 3.5em;
	width: 26em;
	position: absolute;
}

.lrg-logo-main {
	margin-top: 0;
}


/* INDEX ---*/
.site-container-index{
	display: block;
	padding: 0 5vw;
}

h1#index-h1 {
	font-size: 9vw;
	line-height: 1em;
	text-align: left;
	hyphens: manual;
}

.logo-index{
	margin: 3em 0 1em;
	width: 60%;
}

.index-attribution{
	background-color: var(--blue);
	border-top: solid 1px black;
	height: 50px;
	position: fixed;
	bottom: 0;
	width: 100%;
	max-width: 1400px;
	margin: 0 auto;
	padding: 12px 0 0 5vw ;
	font-size: 0.8em;
}


/* Footer ------------------------------------------------------------------------------------ */

footer {
	border-top:1px solid black;
	font-size: 0.6em;
	text-transform: uppercase;
	padding-top: 3em ;
}



/* MEDIA QUERIES------------------------------------------------------------------------------ */
@media only screen and (max-width: 900px){	

/* NAV ---*/
.mobile-icon{
	display: block;
	background-color: var(--orange);
}

.main-nav{
	display: none;
}


/* INDEX ---*/
.logo-index{
width: 90%;
}

h1#index-h1 {
	font-size: 12vw;
	line-height: 1.1em;
}

.index-attribution{
	font-size: 0.7em;
}

/* SITE WIDTH --- */
.site-container, .slider-container, footer {
	margin: 0 auto;
	padding: 0 1.5vw;
	flex-wrap: wrap;
}

main, .main-carousel {
	width: 100%;
	border-right: 1px solid black;
	border-bottom: 1px solid black;
}

main section, .carousel-cell {
	padding:1.5em 2em 3em ;
}

aside, .project-img{
	width: 100%;
}

aside {
	margin-top: 1em;
}


/* THUMB WIDTHS --- */
.thumb-container {
	flex-wrap: wrap;
}

.thumb-button{
	width: 90%;
}




}






