/*! cc css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */



* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  }

  a {
    text-decoration: none;
    border-bottom: 0.1vw solid;
    padding-bottom: 0.1vw;
    cursor: pointer;
  }

/* Flickity
   ========================================================================== */

.lrg-slider {
    max-height: 56.1vw ; /* height of carousel */
    overflow: hidden;
  }

.med-slider {
    height:38vw ; /* height of carousel */
    overflow: hidden;
  }

.small-slider {
    height:25vw ; /* height of carousel */
    overflow: hidden;
  }
 
.carousel-cell-small {
  width: 30vw; /* full width */
  height:24vw ; /* height of carousel */
  margin: 1vw 0.25vw 0 ;
  counter-increment: carousel-cell;
}

 img.small {
  width: 30vw;
  }



.carousel-cell-medium {
  width: 50vw; /* full width */
  height:36vw ; /* height of carousel */
  margin: 0.5% 2% 0% ;
  counter-increment: carousel-cell;
}

 img.medium {
  width: 50vw;
  }

.carousel-cell-medium.short { 
  width: 28vw; 
}

.carousel-cell-medium.short img{ 
 width: 28vw;
  }

  .carousel-cell-medium.med-gif{ 
 width: 52.5vw;
  }

  .carousel-cell-medium.med-gif img{ 
 width: 52.5vw;
  }


.carousel-cell-big {
  width: 100vw; /* full width */
  height:; /* height of carousel */
  margin: 0%;
  counter-increment: carousel-cell;
}

 img.big {
  width: 100vw;
  }

 

  .video-screen {
    width: 100%;
    height: 23vw;
    position: absolute;
    top:0;
  }

 

 

/* carousel caption
   ========================================================================== */
   .caption {
    font-size: 1.7vw;
   }

  .carousel-cell-medium .caption {
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em 0 0em;
}

  .carousel-cell-big .caption {
  position: relative;
  bottom:2.5em;
  left:1.5em;
  line-height: 0;
  padding-bottom: 0em;
}



/* carousel buttons
   ========================================================================== */

/* position dots up a bit */
.flickity-page-dots {
  display: none;
}


.flickity-button:focus {
  background: transparent;
}

/* no circle */
.flickity-button {
  background: white;
  border: 0.3vw solid black;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 4.5vw;
  height: 4.5vw;
}
/* icon color */
.flickity-button-icon {
  fill: black;
}

.lrg-slider .flickity-button {
  background: transparent;
  border: none;
}


/* Ticker
   ========================================================================== */


.top-title{
  text-align: center;
  }
    
 .big-title {
    position: relative;
    top:1vw;
    margin-bottom: -5vw;
    z-index: 888;
  }

 .med-title{
  padding-top: 1.4vw;
  }






/* Backgrounds
   ========================================================================== */

.red {
  background-color: red;
}

.black{
  background-color: black;
}

.white{
 background-color: white;
}

.white-txt{
 color: white;
}

.white-txt a{
 color: white;
}






/* Header
   ========================================================================== */

nav {
  display: flex;
  padding: 1vw 0;
  height:13vw;
  align-items: center;
}

nav a {
  border: none;
}

.logo {
  text-align: center;
  font-size: 9vw;
}

.nav-item {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

#icon-hamburger, #icon-mail {
  height: 4.4vw;
  margin: 0 0 0em;

}













/* Main
   ========================================================================== */

 

 
 

  p {
    
  }

  h1 {
    font-size: 3em;
    letter-spacing: 0.03em;
  }

  h2 {
    font-size: 7vw;
    letter-spacing: 0.03em;
    text-align: center;
    padding:0 0 0.25em;
  }

  h3 {
    font-size: 3.3vw;
    letter-spacing: 0.01em;
    padding:0.15em 0;
  }

  h4 {
    font-size: 1.5em;
    letter-spacing: -0.01em;
  }


  a {
    color:black;
  }



/* Item/Nav Pages
   ========================================================================== */
 .container {
    width: 100%;
   }
 

.item-page {
  background-color: black;
  color:white;
  margin-bottom: 10vw;
  z-index: 1;
}

.margin-top{
  margin-top:5vw;
}

.item-container {
  padding:1vw 6.5vw 2vw 7vw;
  display: flex;
  flex-wrap: wrap;
}


.nav-bottom .left,  .nav-bottom .right{
  display: flex;
  flex-wrap: wrap;
  
}

.nav-bottom {
  justify-content: space-between;
}

.nav-bottom a{
  color:white;
  border:none;
}

.nav-bottom .left img, .nav-bottom .right img{
    height: 4.4vw;
    width: 4vw;

  }


 .item-page p {
    letter-spacing: 0em;
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding-bottom: 2vw;
  }


  .item-page h2 {
    font-size: 4.25vw;
    line-height: 5.9vw;
    letter-spacing: 0em;
    text-align: left;
    width: 60%;
  }

.item-page img{
  width: 100%;
}


.img-container {
  padding-left: 6vw;
  padding-right: 3vw;
  margin: 1vw 0 2vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.img-container .img-item{
  padding:0 3vw 4vw 0;
  width: 50%;
}



/* Footer
   ========================================================================== */

footer {
  display: flex;
  height: 10vw;
  padding: 1em;
  font-size: 1.4vw;
  background-color: white;
 
}

.foot-hold {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

footer h4 {
  flex-grow: 1;
}

footer img {
  width: 11%;
}


/* Footer
   ========================================================================== */

@media only screen and (max-width: 600px) {
  footer {
  display: block;
  font-size: 3vw;
  text-align: center;
}

footer h4 {
  padding-bottom: 0.5em;
}

footer img {
  width: 20%;
  padding: 0.25em;
}


}

