/*! cc css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */



* {
  box-sizing: border-box;
  margin:0;
  padding:0;
  font-family: 'Helvetica', sans-serif;
  font-weight: 100;
  }

  a {
    text-decoration: none;
    border-bottom: 0.1vw solid;
    padding-bottom: 0.1vw;
    cursor: pointer;
  }

/* Flickity
   ========================================================================== */


 
.carousel-cell-small {
  width: 30vw; /* full width */
  height: ; /* height of carousel */
  margin: 4.6% 0.25% 1% ;
  counter-increment: carousel-cell;
}

 img.small {
  width: 30vw;
  padding-top:1.1vw;

  }


  .carousel-cell-medium {
  width: 50vw; /* full width */
  height: ; /* height of carousel */
  margin: 5% 2% 2% ;
  counter-increment: carousel-cell;
}

 img.medium {
  width: 50vw;
  padding-top:1vw;
  }

.carousel-cell-medium.short { 
  width: 27vw; 
}

.carousel-cell-medium.short img{ 
 width: 26.5vw;
  }

  .lrg-slider {
    height:57vw;
  }

.carousel-cell-big {
  width: 100vw; /* full width */
  height: ; /* height of carousel */
  margin: 0%;
  counter-increment: carousel-cell;
}

 img.big {
  width: 100vw;
  }


  .video-screen {
    width: 100%;
    height: 23vw;
    position: absolute;
    top:0;
  }

/* carousel caption
   ========================================================================== */
   .caption {

    font-size: 1.4vw;
   }



  .carousel-cell-medium .caption {
  color: white;
  width: 100%;
  text-align: center;
  padding: 1em 0 0.5em;
}

  .carousel-cell-big .caption {
  position: relative;
  bottom:2.2em;
  left:1.5em;
  line-height: 0;
  padding-bottom: 0em;
}



/* carousel buttons
   ========================================================================== */

/* position dots up a bit */
.flickity-page-dots {
  display: none;
}



.flickity-button:focus {
  background: transparent;
}

/* no circle */
.flickity-button {
  background: white;
  border: 0.3vw solid black;
}
/* big previous & next buttons */
.flickity-prev-next-button {
  width: 4.5vw;
  height: 4.5vw;
}
/* icon color */
.flickity-button-icon {
  fill: black;
}

.lrg-slider .flickity-button {
  background: transparent;
  border: none;
}


/* Ticker
   ========================================================================== */

   @-webkit-keyframes ticker {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(-50%);
    transform: translate3d(-50%, 0, 0);
    }
    }

    
    @keyframes ticker {
    0% {
    -webkit-transform: translateX(-100%);
    transform: translate3d(0, 0, 0);
    visibility: visible;
    }
    100% {
    -webkit-transform: translateX(-50%);
    transform: translate3d(-50%, 0, 0);
    }
    }


    .ticker-wrap {
    width: 100%;
    overflow: hidden;
    top: 3.2em;
    margin-top: -3.4em;
    position: relative;
    z-index: 300;
    font-size: 1.75vw;


    }

    .ticker {
    display: inline-block;
    white-space: nowrap;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-name: ticker;
    animation-name: ticker;
    -webkit-animation-duration: 300s;
    animation-duration: 300s;

    }

    /*.ticker-wrap:hover .ticker {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
    
    }
    */

    .ticker_item {
      display: inline-block;
        
    }




  
    










/* Backgrounds
   ========================================================================== */

.red {
  background-color: red;
}

.black{
  background-color: black;
}

.white{
 background-color: white;
}

.white-txt{
 color: white;
}

.white-txt a{
 color: white;
}






/* Header
   ========================================================================== */

nav {
  display: flex;
  padding: 1vw 0;
  height:13vw;
  align-items: center;
}

nav a {
  border: none;
}

.logo {
  text-align: center;
  flex-grow: 6;
  font-size: 5.5vw;
}

.nav-item {
  align-self: center;
  flex-grow: 1;
  text-align: center;
}

#icon-hamburger, #icon-mail {
  height: 4.4vw;
  margin: 0 0 0em;

}








/* Item/Nav Pages
   ========================================================================== */
.close{
  font-size: 4vw;
  position: absolute;
  right:2.5vw;
  top:1.5vw;
}


.pg-none {
  display: none;
}

   

.item-page {
  background-color: black;
  color:white;
  position: absolute;
  top:12.2vw;
  margin-bottom: 10vw;
  width: 100vw;
  z-index: 1000;
    }

.margin-top{
  margin-top: 4vw;
}

.item-container {
  padding:1vw 6.5vw 2vw 7vw;
  display: flex;
  flex-wrap: wrap;
}

.nav-bottom {
  justify-content: space-between;
}

 .item-page p {
    letter-spacing: 0em;
    font-size: 2.5vw;
    line-height: 3.5vw;
    padding-bottom: 2vw;
  }


  .item-page h2 {
    font-size: 4.25vw;
    line-height: 5.9vw;
    letter-spacing: 0em;
    text-align: left;
    width: 60%;
  }

.item-page img{
  width: 100%;
}


.img-container {
  padding-left: 6vw;
  padding-right: 3vw;
  margin: 1vw 0 2vw;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}


.img-container .img-item{
  padding:0 3vw 4vw 0;
  width: 50%;
}




/* Main
   ========================================================================== */

  .container {
    width: 100%;
   }

 
 

  p {
    
  }

  h1 {
    font-size: 3em;
    letter-spacing: 0.03em;
  }

  h2 {
    font-size: 7vw;
    letter-spacing: 0.03em;
    text-align: center;
    padding:0 0 0.25em;
  }

  h3 {
    font-size: 2em;
    letter-spacing: 0.01em;
    padding:0.15em 0;
  }

  h4 {
    font-size: 1.5em;
    letter-spacing: -0.01em;
  }


  a {
    color:black;
  }



/* Footer
   ========================================================================== */

footer {
  display: flex;
  height: 10vw;
  padding: 1em;
  font-size: 1.4vw;
  background-color: white;
  z-index: 800;
}

.foot-hold {
  position: fixed;
  bottom: 0;
}

footer h4 {
  flex-grow: 1;
}

footer img {
  width: 10%;
}


/* Footer
   ========================================================================== */

@media only screen and (max-width: 600px) {
  footer {
  display: block;
  font-size: 3vw;
  text-align: center;
}

footer h4 {
  padding-bottom: 0.5em;
}

footer img {
  width: 20%;
  padding: 0.25em;
}


}

