* {
	box-sizing: border-box;
	margin:0;
	padding:0;	
	}

body {
  font-family: 'Heebo', sans-serif;
  font-weight: 700;
}

a {color: black;}



/*--head --*/


header {
 height: 9vh;
 min-height: 90px;
}


.date {
  position: absolute;
  width: 17em;
  top:27px;
  left:14vw;
}


nav{
  position: absolute;
  top:27px;
  right:60px;

}

#nav-icon .bar{
  width: 35px;
  height: 3px;
  background-color: #8A2B1D; /*--red-brown--*/
  margin: 7px 0;
  
}

#close {
  z-index: 3000;
  position: fixed;
  color: white;
  top:29px;
  right:60px;
  height: 35px;
  width: 35px;
}

#close:before, #close:after {
  position: absolute;
  content: ' ';
  height: 35px;
  width: 2px;
  left:17px;
  background-color: white;
}
#close:before {
  transform: rotate(45deg);
}
#close:after {
  transform: rotate(-45deg);
}




/*--nav page --*/


#nav-page {
  background-color: black;
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 2000;
  overflow: scroll;
}


.nav-off {
  display: none;
}

.fixed-position {
  position:fixed;
}

.nav-list {
width: 50%;
margin:0 auto;
list-style: none;
padding:10% 0;
}

.nav-list li{
padding:2.7vw 0 2.5vw;
}

.nav-list img{
height:3.5vw;
}

hr {
  border: solid 1px black;
  border-top: solid 1px #8A2B1D;
}

.center {
  text-align: center;
}

.left {
  text-align: left;
  margin-left: -5vw;
}

.right {
  text-align: right;
  margin-right: -5vw;
}




/*--ticker scroll--*/

.container {
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.container img {
  margin-bottom:-0.58vw;
 }

 .scroll-1, .scroll-2,  .scroll-3{
    height: 100%;
    width: 200%;
  }

  .scroll-1 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    left:0;
    -webkit-animation: scrolling-l 25s linear infinite;
    animation: scrolling-l 25s linear infinite;
}

  .scroll-2 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    left:-100%;
    -webkit-animation: scrolling-r 30s linear infinite;
    animation: scrolling-r 30s linear infinite;
}

  .scroll-3 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    left:0;
    -webkit-animation: scrolling-l 20s linear infinite;
    animation: scrolling-l 20s linear infinite;
}
 
 @-webkit-keyframes scrolling-l {
  0%    { left: 0; }
  100%  { left: -100%;  }
  }

  @keyframes scrolling-l {
  0%    { left: 0; }
  100%  { left: -100%;  }
  }

  @-webkit-keyframes scrolling-r {
  0%    { left: -100%; }
  100%  { left: 0%;  }
  }

  @keyframes scrolling-r {
  0%    { left: -100%; }
  100%  { left: 0%;  }
  }


  .scroll-stop {
    animation: none !important;
}



/*--ticker text--*/

 
  .title-ticker img{
    height: 13.6vw;
  }


 .ticker-move-1, .ticker-move-2, .ticker-move-3 {
    display: inline-block;
    position: relative;
    white-space: nowrap;
    right:-10vw;
    -webkit-animation: ticker_1 20s linear 2;
    animation: ticker_1 20s linear 2;

  }

   .ticker-stop-1 {
    right:-10vw;
    animation: none;
  }

   @-webkit-keyframes ticker_1 {
  0%    { right: -100%; }
  100%  { right: 60%;  }
  }

   @keyframes ticker_1 {
  0%    { right: -100%; }
  100%  { right: 60%;  }
  }


  .ticker-move-2 {
    right:-20vw;
    -webkit-animation: ticker_2 25s linear 2;
    animation: ticker_2 25s linear 2;
  }

   .ticker-stop-2 {
    right:-20vw;
    animation: none;
  }

  @keyframes ticker_2 {
  0%    { right: -100%; }
  100%  { right: 85%;  }
  }

   @keyframes ticker_2 {
  0%    { right: -100%; }
  100%  { right: 85%;  }
  }


  .ticker-move-3 {
    right:-0vw;
    -webkit-animation: ticker_3 28s linear 2;
    animation: ticker_3 28s linear 2;
  }

   .ticker-stop-3 {
    right:-0vw;
    animation: none;
  }

  @-webkit-keyframes ticker_3 {
  0%    { right: -100%; }
  100%  { right: 95%;  }
  }

  @-webkit-keyframes ticker_3 {
  0%    { right: -100%; }
  100%  { right: 95%;  }
  }
 


  .main-logo img{
  height: 13.6vw;
  margin-left:11vw;
  }




/*--show hide head -----------------------------*/

.logo-home {
  height: 40vw;
}

.mobile-logo {
  display: none;
  height: 40vw;
}

.desktop-logo {
  display: block;
  height: 14vw;
}


/*--control animation--*/


.stop-animation{ 
  font-size: 0.8em;
  float:right;
  padding:1% 5%;
  cursor: pointer;
  text-decoration: underline;
}



/*--home-bottom-----------------------------*/


.info-container {	
	width: 75%;
	margin: 0 auto;
  font-size: 1em;
  margin-top:10vh;
	}


.info-container .home-title{ 
  margin-left: 22%;
  width: 55%;
  padding-top: 2em;
}

.info-container p{ 
  padding: 0.8em 0;
  line-height: 1.8em;
  font-size: 1.15em;
}

.title-p {
  font-weight: 400;
  font-size: 0.85em;
}

.title_head, .title-p{
  text-align: center;
  }

.title_head{
  font-size: 0.7em;
  letter-spacing: 0.08em;
  line-height: 2.6em;

}



/*--dharma section--*/

.dp-info-container{
  padding: 10em 0; 
  margin: 0 auto;
  text-align: center;
}


.dp-logo {
  width: 40%;
}

.cantor{ 
  font-size: 0.75em;
  letter-spacing: 0.06em;
  font-weight: 400;
  line-height: 2.6em;
  padding: 2em;
  text-transform: uppercase;
}










/*--page-----------------------------*/
.page-container { 
  width: 75%;
  margin: 0 auto;
  font-size: 1em;
  }


h1 {
  padding:100px 0;
}




















/*--sponsors--*/

.sponsor-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  margin:0 auto;
  padding:0 5% 1%;
  background-color: black;
  min-height: 2em;
  align-items:center;
}

.sponsor-item {
  margin:2% 3% 0.5%;
}

.sponsor-item img{
  width: 100%;
}




/*--small laptop thru ipad mini--*/

@media only screen and (max-width: 1200px) { .container img { margin-bottom:-0.65vw;}}
@media only screen and (max-width: 1000px) { .container img { margin-bottom:-0.85vw;}}
@media only screen and (max-width: 800px) { .container img { margin-bottom:-1.4vw;}}




/*--768---------------------------*/


@media only screen and (max-width: 769px){

.stop-animation { font-size: 0.7em;}

.info-container .home-title{ 
  margin-left: 7%;
  width: 85%;
}

.info-container p, p {font-size: 1em;}
.dp-logo {width: 70%;}

/*--nav--*/
.nav-list {width: 68%; padding:13% 0;}

.nav-list li{ padding:5.5vw 0 4vw;}

.nav-list img{height:5.3vw;}

}








/*--500--------------------*/


@media only screen and (max-width: 500px){



/*--head --*/


header { min-height: 65px;}

.date { width: 10.5em; top:22px; left:14%;}

nav{ top:22px; right:6%;}

#nav-icon .bar{ width: 28px; height: 3px; margin: 4px 0;}

#close { top:22px; right:5%;}

#close:before, #close:after { height: 28px; width: 2px;}


/*--show hide head -----------------------------*/

.mobile-logo {
  display: block;
}

.desktop-logo {
  display: none;
}

 .mobile-logo .ticker-move-1, .mobile-logo .ticker-move-2, .mobile-logo .ticker-move-3 {
    animation: none;
  }


.container img { margin-bottom:-1.6vw;}

.stop-animation { font-size: 0.6em; padding-top: 10px;}


/*--nav--*/
.nav-list {padding:20% 0;}
.nav-list img {height:6vw;}



.info-container { 
  width: 88%;
  margin: 0 auto;
  }

.info-container p, p {font-size: 0.85em;}
.title-p, .cantor {font-size: 0.7em;}

.sponsor-container {flex-wrap: wrap;}
.sponsor-item {width:44%;padding: 0 2%;}


}


@media only screen and (max-width: 400px) { .container img { margin-bottom:-1.9vw;}}

@media only screen and (max-width: 450px) { .container img { margin-bottom:-2.2vw;}}





