* {
	box-sizing: border-box;
	margin:0;
	padding:0;	
	font-family: 'Heebo', sans-serif;
	font-weight: 700;
	
}




/*--head --*/

.header-container {
	min-height: 80vh;
	overflow: hidden;
	font-size: 1.4em;
	line-height: 1.6em;
	background-color: black;

}

.header-container img{
	width: 105vw;
	margin-left:-2%;
	margin-top:-1%;
	position: fixed;

}

.thumbs {
	width: 8%;
	position: fixed;
}


.one{ top:30%; left:10%;}
.two{ top:5%; right:10%;}
.three{ top:55%; right:21%;}

.info-container {
	position: absolute;
	top:15%;
	left:25%;
	width: 550px;
}
.info-container p{
	float: left;
}

.orange {background-color: #F15A29;}
.blue {background-color: #4E6B9E;}
.green {background-color: #489E73;}
.yellow {background-color: #FAA400;}
.white {background-color: #fff;}



/*--bottom--*/



.name-container {	
	padding-top: 8em;
	background-color: white;
	width: 100%;
	font-size: 1.1em;
	line-height: 1.45em;
}

.name-container .rashmi  {
	padding-bottom: 75vh;
}
.name-container p {
	margin-left: 25%;
	width: 60%;
	position: relative;
	float: left;
}

a {
	color: #F15A29;
}

.title {
	font-size: 0.6em;
	text-transform: uppercase;
	letter-spacing: 0.07em;
	margin: 5em 0 1em;
}

.padd {
	margin-top: 15px;
}


.soon {
	padding-top: 10em;
	position: relative;
	margin-left: 25%;
	font-size: 4em;
	line-height: 1em;
}

