* {
	box-sizing: border-box;
	margin:0;
	padding:0;	
	text-decoration: none;
	font-weight: 300;
	font-family: sans-serif;
	color:#000043;
}




h1, h2 {
	text-transform: uppercase;
	letter-spacing: 0.01em;
}

h1 {	
	margin-top: 0.2em;
	font-size: 3.25em;
}

h2 {
	padding-top: 0.5em;
	font-size: 2em;
}

h3 {
	line-height: 1.75em;
	font-size: 1.25em;
	padding-bottom: 0.4em;
}


p {
	font-size: 0.9em;
}



 header {
	display: flex;
	justify-content:space-between;
	width: 95%;
	margin:auto;

}

.logo, nav {
	width: 48%;
}



nav ul{
	border-bottom: 1px solid #03035B;
   	width: 100%;
   	display: flex;
	justify-content:space-between;
}



.divider{
	width: 1px;
	background: linear-gradient(to bottom, #0E0E68, white);
	position: fixed;
	top:0;
	right:50%;
	height: 100%;
}


.title{

}

.img-subtitle{
	width: 6em;
	height: 6em;
	padding: 0.5em 0em;
}










section.main{
	width: 95%;
	margin:auto;
	min-width: 750px;
}








.series-02-row{
	display: flex;
	justify-content: space-between;
	position: relative;
	margin-bottom: 15em;
}


.series-02-images{
	position: relative;
	z-index: 100;
	margin-top:12em;

}

.series-02-img img {
	width: 100%;
	cursor: grab;
}


.series-02-text {
	top: 24em;
	margin-right: 0;	
	position: absolute;
	width: 95%;
}

.series-02-text img{
	opacity: 0;
}


.tlp-01 {width: 20%; margin-left: 10%; margin-top:20%;}
.tlp-02 {width: 20%; margin-right: 5%; margin-top:0%;}

.tlp-03 {width: 45%; margin-left: 2%; margin-top:20%;}
.tlp-04 {width: 55%; margin-left: 10%; margin-top:-10%;}
.tlp-05 {width: 24%; margin-right: 5%; margin-top:40%;}

 
.tlp-06 {width: 20%; margin-left: 0%; margin-top:30%;}
.tlp-07 {width: 25%; margin-left: 0%; margin-top:-5%;}
.tlp-08 {width: 25%; margin-right: 5%; margin-top:15%;}

.tlp-09 {width: 18%; margin-left: 60%; margin-top:0%;}








.series-02-data{
	position: absolute;
	width: 18%;
	margin: 1% 0.5%;
}



.series-02-data p, .series-02-data i{
	line-height: 1.4em;
	font-family: Times, serif;
	padding-bottom:0.9em; 
}

.tlp-name {
	font-size: 1em;
	padding-bottom:1.2em; 
	text-transform: uppercase;
	letter-spacing: 0.06em;
}









/* ----------about page------------- */

.info {
text-transform: uppercase;
letter-spacing: 0.04em;
margin-top: -1.9em;
margin-left: 0.3em;

}


.about-page, #two-page {

	position: fixed;
	left:0;
	top:0;
	background: #000043;
	color:white;
	opacity: 0.95;
	height: 100vh;
	width:  50vw;
	z-index: 500;
}


.about-page h1  {
	margin-left: 5%;
	color: white;
	
}

#close {
	position: absolute;
	right:5%;
	top:0em;
	z-index: 600;
	color: white;
	cursor: pointer;
}

.off {
	display: none;
}













footer {
	position: absolute;
	bottom:0.5em;
	display: flex;
	justify-content:space-between;
	position: fixed;
	width: 100%;
	padding: 0 2%;
}

footer .right {
	float: right;
}






@media only screen and (max-width: 780px) {
  body {
    background-color: lightblue;
  }

  .about-page, #two-page {

	position: fixed;
	left:0;
	top:0;
	background: #000043;
	color:white;
	opacity: 0.98;
	height: 100vh;
	width:  100vw;
	text-align: center;
	padding: 4.2em 0 0 0;
	z-index: 500;
}



}


